<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
    <title></title>
  </head>
  <body>
    <% include ./partials/navbar%>

    <h1 class="container "><%- page %></h1>
    <% for(var i=0; i< data.length; i++) {%>
      <div class="col s17 m7 container">
        <div class="card horizontal">
          <div class="card-image">
            <img src="http://lorempixel.com/output/nightlife-q-c-200-200-2.jpg">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <h3><%= data[i].title %></h3>
            </div>
            <div class="card-action">
              <div class="artist-card-attr ">
                <p>
                  Artist: Aretha Franklin
                </p>
                <p>
                  13 Songs
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% } %>

    <% include ./partials/footer %>
  </body>
</html>
