<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
    <title></title>
  </head>
  <body>
    <% include ./partials/navbar%>
    <h1><%- page %></h1>
    <ul class="collection container">
      <li class="collection-item avatar">
        <i class="material-icons circle red">play_arrow</i>
        <span class="title">Title</span>
        <p>Song</p>
        <p>Track</p>
        <p>Length</p>
      </li>
  </ul>



    <% include ./partials/footer %>
  </body>
</html>
