<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="utf-8">
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.deep_purple-lime.min.css" />
   <!-- Material Design icon font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title><%= pageTitle %></title>
  </head>
  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
     <header class="mdl-layout__header">

       <!-- Tabs -->
       <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
         <a href="#scroll-tab-1" class="mdl-layout__tab is-active">Artists</a>
         <a href="#scroll-tab-2" class="mdl-layout__tab">Albums</a>
         <a href="#scroll-tab-3" class="mdl-layout__tab">Songs</a>
       </div>
     </header>
     <main class="mdl-layout__content">
       <section class="mdl-layout__tab-panel is-active" id="scroll-tab-1">
         <div class="page-content"><!-- Your content goes here --></div>
       </section>
       <section class="mdl-layout__tab-panel" id="scroll-tab-2">
         <div class="page-content"><!-- Your content goes here --></div>
       </section>
       <section class="mdl-layout__tab-panel" id="scroll-tab-3">
         <div class="page-content"><!-- Your content goes here --></div>
       </section>
     </main>
   </div>
