<!DOCTYPE html>
<html>
  <head>
    <% include ./layout/head %>
    <title></title>
  </head>
  <body>
    <% include ./layout/header%>

    <% include ./artists/list_item %>

    <% include ./layout/footer %>
  </body>
</html>
