<!DOCTYPE html>
<html>
  <head>
    <% include ./layout/head %>
    <title></title>
  </head>
  <body>
    <% include ./layout/header %>

    <% include ./albums/song %>

    <% include ./layout/footer %>
  </body>
</html>
