<nav class="purple">
  <div class="nav-wrapper">
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a class="lime-text" href="/">Artists</a></li>
      <li><a class="lime-text" href="/albums">Albums</a></li>
      <li><a class="lime-text" href="/songs">Songs</a></li>
    </ul>
  </div>
</nav>
